<app-navbar></app-navbar> 
<!--sidenav-->
<nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
<div class="position-sticky">
<div class="list-group list-group-flush mx-3 mt-4">
  <!-- Button trigger modal -->
 <a
    class="list-group-item list-group-item-action py-2 ripple ripple active"
    aria-current="true"
    data-mdb-toggle="modal" data-mdb-target="#staticBackdrop" role="button"
    >
   <i class="fas fa-plus-circle fa-fw me-3"></i
     ><span>Votre Story </span>
 </a>
 
  
</div>
</div>
</nav>
<!--Main layout-->
<main>
    <div class="container">
      <!--Section: Story-->
      <div class="row">
        <div class="col-md-6">
            <div class="card">
                <button type="button" class="btn btn-light btn-lg btn-floating"> <i class="far fa-images"></i></button>
            <div class="card-body">
            
              <p class="card-text text-center">
                Créer une story avec photos
              </p>
            </div>
            </div>
          </div>
        <div class="col-md-6">
            <div class="card">
                <button type="button" class="btn btn-light btn-lg btn-floating"> <i class="fas fa-spell-check "></i></button>
            <div class="card-body">
            
              <p class="card-text text-center">
                Créer une story avec du texte
              </p>
            </div>
            </div>
          </div>
      </div>
          <section>
        </section>
    </div>
 </main>
