<div>
  <div class="row">
    <div class="col-12 text-end">
      <button data-mdb-toggle="modal" data-mdb-target="#ajouterCarte" class="btn btn-md">Créer carte
        <i class="fas fa-plus" style="margin-left: 5px"></i>
      </button>
    </div>
    <div
      class="modal fade"
      id="ajouterCarte"
      data-mdb-backdrop="static"
      data-mdb-keyboard="false"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Créer une carte jeunes</h4>
            <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form>
              <div  class="input-group mt-2 mb-2">
                <input mdbInput type="text" class="form-control" placeholder="Nom">
              </div>
              <div  class="input-group mt-2 mb-2">
                <input mdbInput type="text" class="form-control" placeholder="Prenom">
              </div>
              <div  class="input-group mt-2 mb-2">
                <input mdbInput type="text" class="form-control" placeholder="Date de naissance">
              </div>
              <div  class="input-group mt-2 mb-2">
                <input mdbInput type="text" class="form-control" placeholder="Matricule">
              </div>
              <div class="text-center dark-grey-text">
                <a class="btn btn-outline-info btn-md mt-3 waves-effect" role="button">
                  Charger image<i class="fa fa-upload" style="margin-left: 10px"></i></a>
              </div>
            </form>
          </div>
          <div class="modal-footer">

            <button type="button" class="btn btn-secondary btn-block mb-4">Créer</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <span style="font-size: 25px; color: gray; font-weight: bold">Liste des cartes des jeunes</span>
    </div>
  </div>
  <hr>
  <div class="container my-5">
    <div class="row" *ngIf="listCartes?.length">
      <div class="col-6 p-2" *ngFor="let carte of listCartes">
        <div class="row m-2" style="border: gray solid 1px;
         border-radius: 5px; background-color: rgba(128,128,128,0.12)">
          <div class="row">
            <div class="col-12 mb-3 text-center">
              <span style="border-bottom: 1px solid black; font-size: 16px; font-weight: bold">#MJ-{{carte.id_carte}}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-2">
              <img src="assets/images/images/user/profil.jpg" style="width: 60px; border-radius: 5px">
            </div>
            <div class="col-6">
              <p style="margin-left: 10px; font-size: 13px; font-weight: bold">Nom et Prenom     : {{carte.id_user}} </p>
              <p style="margin-left: 10px; font-size: 13px; font-weight: bold">date de naissance : {{carte.dateNaissance}}</p>
              <p style="margin-left: 10px; font-size: 13px; font-weight: bold">Matricule            : {{carte.id_maisonjeunes}}</p>
            </div>
            <div class="col-2">
              <img src="assets/images/logo/logo.PNG" style="width: 60px; border-radius: 5px">
            </div>
            <div class="col-2">
              <img src="assets/images/images/Qrcode.png" style="width: 60px; border-radius: 5px">
            </div>
          </div>
          <div class="row">
            <div class="col-12 mb-2 text-end">
              <i style="font-size: 10px; color: #414de9; font-weight: bold; cursor: pointer" class="fas fa-cloud-download-alt">Telecharger</i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 text-center" *ngIf="!listCartes?.length">
      <span style="color: gray; font-size: 20px">Aucune carte</span>
    </div>
  </div>
</div>

