<div class="container">
  <section class="p-5 z-depth-1">
      <h5 class="mb-0 text-center">
        <strong style="font-size: 25px; color: gray; font-weight: bold">Statistiques</strong>
      </h5>
    <hr>
  </section>
</div>
<div class="container-fluid">

  <!-- Section: Block Content -->
  <section>

    <style>
      .footer-hover {
        background-color: rgba(46, 245, 31, 0.22);
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out
      }

      .footer-hover:hover {
        background-color: rgba(224, 45, 22, 0.3)
      }

      .text-black-40 {
        color: rgba(245, 50, 26, 0.4)
      }
    </style>

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 col-lg-3 mb-4">

        <!-- Card -->
        <div class="card primary-color white-text">
          <div class="card-body d-flex justify-content-between align-items-center">
            <div>
              <p class="h2-responsive font-weight-bold mt-n2 mb-0">{{statMaison}}</p>
              <p class="mb-0">Maisons des jeunes</p>
            </div>
            <div>
              <i class="fas fa-clinic-medical fa-4x text-black-40"></i>
            </div>
          </div>
          <a class="card-footer footer-hover small text-center white-text border-0 p-2" style="color: black; font-weight: bold; cursor: pointer">Plus info<i class="fas fa-arrow-circle-right" style="margin-left: 5px"></i></a>
        </div>
        <!-- Card -->

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-6 col-lg-3 mb-4">

        <!-- Card -->
        <div class="card warning-color white-text">
          <div class="card-body d-flex justify-content-between align-items-center">
            <div>
              <p class="h2-responsive font-weight-bold mt-n2 mb-0">{{statEvent}}</p>
              <p class="mb-0">Évènements</p>
            </div>
            <div>
              <i class="fas fa-calendar fa-4x text-black-40"></i>
            </div>
          </div>
          <a class="card-footer footer-hover small text-center white-text border-0 p-2" style="color: black; font-weight: bold; cursor: pointer">Plus info<i class="fas fa-arrow-circle-right" style="margin-left: 5px"></i></a>
        </div>
        <!-- Card -->

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-6 col-lg-3 mb-4">

        <!-- Card -->
        <div class="card light-blue lighten-1 white-text">
          <div class="card-body d-flex justify-content-between align-items-center">
            <div>
              <p class="h2-responsive font-weight-bold mt-n2 mb-0">{{statUser}}</p>
              <p class="mb-0">Utilisateurs</p>
            </div>
            <div>
              <i class="fas fa-user-alt fa-4x text-black-40"></i>
            </div>
          </div>
          <a class="card-footer footer-hover small text-center white-text border-0 p-2" style="color: black; font-weight: bold; cursor: pointer">Plus info<i class="fas fa-arrow-circle-right" style="margin-left: 5px"></i></a>
        </div>
        <!-- Card -->

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-6 col-lg-3 mb-4">

        <!-- Card -->
        <div class="card red accent-2 white-text">
          <div class="card-body d-flex justify-content-between align-items-center">
            <div>
              <p class="h2-responsive font-weight-bold mt-n2 mb-0">{{statGroup}}</p>
              <p class="mb-0">Groupes</p>
            </div>
            <div>
              <i class="fas fa-chart-pie fa-4x text-black-40"></i>
            </div>
          </div>
          <a class="card-footer footer-hover small text-center white-text border-0 p-2" style="color: black; font-weight: bold; cursor: pointer">Plus info<i class="fas fa-arrow-circle-right" style="margin-left: 5px"></i></a>
        </div>
        <!-- Card -->

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </section>
  <!-- Section: Block Content -->

</div>

