<nav class="navbar navbar-expand-lg navbar bg fixed-top" style="background-color: white">
  <!-- Container wrapper -->
  <div class="container">
    <!-- Navbar brand -->
    <a class="navbar-brand me-2" href="">
      <img src="assets/images/logo/logo.PNG" height="60" alt="Logo" loading="lazy" style="margin-top: -1px;"/>
      <h3>Maison des jeunes</h3>
    </a>
    <!-- Toggle button -->
    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarButtonsExample"
            aria-controls="navbarButtonsExample" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarButtonsExample">
      <!-- Left links -->
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

        <li>
          <a [routerLink]="['/register']" type="button" class="btn   btn-outline-secondary btn-lg mt-4 me-2"
             aria-controls="#picker-editor" draggable="false">Inscription</a>
        </li>
        <li>
          <a [routerLink]="['/login']" type="button" class="btn   btn-outline-secondary btn-lg mt-4"
             aria-controls="#picker-editor" draggable="false">Login</a>
        </li>

      </ul>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<div class="container-fluid" style="margin-top: 50px !important;">
  <div data-draggable="true" style="position: relative;" draggable="false">
    <section draggable="false" class="overflow-hidden pt-0" data-v-271253ee="">
      <section class="mb-8">
        <div class="page-header" style="min-height: 75vh;">
          <div class="oblique position-absolute top-0 h-100 d-md-block d-none gradient-custom-10">
            <div class="img-oblique position-absolute fixed-top ms-auto h-100 img-settings"
                 style="z-index: 0; background-size: contain;background-repeat: no-repeat; background-position: 30% 20%; margin-left: -4.1rem !important; background-color: transparent; background-image: url(https://thumbs.dreamstime.com/b/union-de-personnes-globe-dans-le-bien-%C3%AAtre-gain-succ%C3%A8s-travail-d-%C3%A9quipe-bonheur-maison-famille-soin-ic%C3%B4-ic%C3%B4ne-%C3%A0-la-logo-140090476.jpg);"
                 aria-controls="#picker-editor">
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-6 col-md-7 d-flex justify-content-center flex-column">
                <h2 class="lh-1 ls-tight fw-900 mb-1" style="font-size: 3.75rem;">Site Web</h2>
                <h2 class="lh-1 ls-tight fw-900 text-secondary mb-4" style="font-size: 3.75rem;">Maison des jeunes</h2>
                <p class="mt-1 pe-lg-5 me-lg-5 lead fw-normal text-muted">La maison des jeunes désirait un nouveau site web plus attractif et afin de bien expliquer aux bailleurs de fonds sa présence sur le territoire avec ses deux points de service.</p>
                <div class="buttons">
                  <a href="#!" type="button" class="btn   btn-secondary btn-lg mt-4 me-2"
                     aria-controls="#picker-editor" draggable="false">Get Started</a>
                  <a href="#!" type="button" class="btn   btn-outline-secondary btn-lg mt-4"
                     aria-controls="#picker-editor" draggable="false">Read more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>
  </div>
  <div data-draggable="true" style="position: relative;">
    <!---->
    <!---->
    <section draggable="false" class="container pt-5" data-v-271253ee="">
      <section class="">
        <div class="d-flex justify-content-center">
          <div class="text-center" style="max-width: 700px">

            <h2 class="fw-bold mb-4">NOS MISSIONS</h2>
          </div>
        </div>
        <div class="row gx-lg-5">
          <div class="col-md-6 mb-5">
            <div class="d-flex align-items-start">
              <div class="flex-shrink-0">
                <div class="p-3 bg-secondary rounded-4 shadow-2-strong">
                  <i class="fas fa-wifi fa-lg text-white fa-fw" aria-controls="#picker-editor"></i>
                </div>
              </div>
              <div class="flex-grow-1 ms-4">
                <p class="fw-bold mb-1">Offrir un lieu d'échange  </p>
                <p class="text-muted mb-0">Donner aux adolescents un espace pour rencontrer de socialiser.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-5">
            <div class="d-flex align-items-start">
              <div class="flex-shrink-0">
                <div class="p-3 bg-secondary rounded-4 shadow-2-strong">
                  <i class="fas fa-shield-alt fa-lg text-white fa-fw" aria-controls="#picker-editor"></i>
                </div>
              </div>
              <div class="flex-grow-1 ms-4">
                <p class="fw-bold mb-1">Etre à l'écoute de chacun</p>
                <p class="text-muted mb-0">Accompagner et fournir un service de prévention pour les jeunes.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-5">
            <div class="d-flex align-items-start">
              <div class="flex-shrink-0">
                <div class="p-3 bg-secondary rounded-4 shadow-2-strong">
                  <i class="fas fa-mug-hot fa-lg text-white fa-fw" aria-controls="#picker-editor"></i>
                </div>
              </div>
              <div class="flex-grow-1 ms-4">
                <p class="fw-bold mb-1">Organiser des activités</p>
                <p class="text-muted mb-0">Mettre le loisir au centre de nos actions, avec des projets sportifs et artistiques.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 mb-5">
            <div class="d-flex align-items-start">
              <div class="flex-shrink-0">
                <div class="p-3 bg-secondary rounded-4 shadow-2-strong">
                  <i class="fas fa-grin-beam fa-lg text-white fa-fw" aria-controls="#picker-editor"></i>
                </div>
              </div>
              <div class="flex-grow-1 ms-4">
                <p class="fw-bold mb-1">Briser l'isolement</p>
                <p class="text-muted mb-0">Aider les ados à développer de nouvelles compétence personnelles et sociales.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>
    <!---->
  </div>
  <div data-draggable="true" style="position: relative;">
    <section draggable="false" class="overflow-hidden pt-5" data-v-271253ee="">
      '
      <section class="mb-8">
        <div class="gradient-custom rounded-6">
          <div class="container pt-9 pb-10 pb-xl-11 px-4">
            <div class="row">
              <div class="col-md-8 col-lg-6 mx-auto text-center text-white">
                <h2 class="fs-2 fw-900 pb-1">Qui sommes-nous?</h2>
                <p class="lead fw-normal mb-4 opacity-90">la maison des jeunes est un organisation qui soutient les jeunes de 12 à 30 ans en favorisant le développement de leur autonomie, de leur forces tant individuelles que collectives afin de se réaliser comme individues et d'accroitre leur pouvoir d'agri dans leur milieu de vie et la société en général.</p>
                <div class="d-flex justify-content-center mb-4 mb-xl-0">
                  <ul class="nav nav-pills pills-light mb-3" id="ex11" role="tablist">
                    <li class="nav-item px-2" role="presentation">
                      <a class="btn  btn-white active" id="ex1-tab-11" data-mdb-toggle="pill" href="#ex1-pills-11"
                         role="tab" aria-controls="#picker-editor" aria-selected="true">monthly</a>
                    </li>
                    <li class="nav-item px-2" role="presentation">
                      <a class="btn  btn-white " id="ex1-tab-22" data-mdb-toggle="pill" href="#ex1-pills-22"
                         role="tab" aria-controls="#picker-editor" aria-selected="false">annual</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-n10">
          <div class="container">
            <div class="row">
              <div class="col-md-10 col-xl-3 mb-4 ms-auto me-auto me-xl-0 d-flex align-self-stretch">
                <div class="card w-100">
                
                  <div class="card-body mx-auto pt-0 text-muted">
                    <div class="justify-content-start d-flex px-2 pt-1 pb-2">
                      <img src="assets/images/images/maisonJeunes/maison-1.jpg" alt="logo" id="logo">

                    </div> 
                  </div>
                
                </div>
              </div>
              <div class="col-md-10 col-xl-3 mb-4 mx-auto mx-xl-0 d-flex align-self-stretch">
                <div class="card w-100">
               
                  <div class="card-body mx-auto pt-0 text-muted">
                    <div class="justify-content-start d-flex px-2 pt-1 pb-2">
                      <div><i class="undefined" aria-controls="#picker-editor"></i>
                      </div>
                      <div class="ps-3">
                        <img src="assets/images/images/maisonJeunes/maison-2.jpg" alt="logo" id="logo2">
                      </div>
                    </div>
              
                  </div>
                
                </div>
              </div>
              <div class="col-md-10 col-xl-3 mb-4 ms-auto me-auto ms-xl-0 d-flex align-self-stretch">
                <div class="card w-100">
                  <div class="card-body mx-auto pt-0 text-muted">
                    <div class="justify-content-start d-flex px-2 pt-1 pb-2">
                      <div><i class="undefined" aria-controls="#picker-editor"></i>
                      </div>
                      <div class="ps-3">
                        <img src="assets/images/images/maisonJeunes/maison-3.png" alt="logo" id="logo">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    </section>
  </div>


</div>

